h3 {
    margin: 10px;
}

h4 {
    text-align: center;
}

.container {
    width: 300px;
    padding-top: 5px;
    margin-top: 10px;
    background-color: #fae9cf;
    text-align: center;
}

.popoverA, .popoverB, .popoverC {
    display: none;
    position: relative;
    border: solid 1px #a2aeb5;
    width: 200px;
    height: 100px;
    margin-left: 15%;
    background-color: #e7eff5;

}

.popoverA:before, .popoverB:before, .popoverC:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #e7eff5;
    border-top: 1px solid #a2aeb5;
    border-left: 1px solid #a2aeb5;
    transform: rotate(45deg);
    top: -6%;

}

.add_btn {
    margin: 10px;
}

.close_btn {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
}

