.container{
    width: 300px;
    height: 100px;
    background-color: lightskyblue;
    text-align: center;
}

.popover {
    display: none;
    position: relative;
    border: solid 1px gray;
    width: 200px;
    height: 100px;
}

h4 {
    text-align: center;
}

.close_btn {
    position: absolute;
    right: 0;
    top: 0;
}

